Invalid texture file names when exporting separate glTF

The [glTF 2.0  specification](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#uris) says the relative URI paths have to be as defined by RFC 3986, Section 4.2.

This means they cannot contain delimiter character like `:` `/` `?` `#` `[` `]` `@` `!` `$` `&` `'` `(` `)` `*` `+` `,` `;` `=`.
When exporting separate glTFs, the texture file's name/path is taken from the Image Texture nodes' names, which can contain invalid characters (like `#`).

To be fair, these files will still work in most cases (like loading them in the [glTF-viewer](https://gltf-viewer.donmccurdy.com)), but I stumbled across errors when trying to post-process a glTF with [gltf-pipeline](https://github.com/AnalyticalGraphicsInc/gltf-pipeline). It fails and rightfully complains about the relative path URI

Here's a demo file and export:
[wrong_uri.tar.gz](https://github.com/KhronosGroup/glTF-Blender-IO/files/3038891/wrong_uri.tar.gz)
.

A quick workaround for this is to replace mentioned characters by underscores. Not sure whether this is considered an adequate solution, so instead of a premature PR, here's a patch:

[gltf-safe-uri.diff.txt](https://github.com/KhronosGroup/glTF-Blender-IO/files/3039170/gltf-safe-uri.diff.txt)

Note: Current behaviour was to remove everything after the first appearence of `.` in the name string.
I suppose to remove file extension troubles (multiple dots). I removed this behaviour as well (since dots are replaced with underscores with this patch)

As long as local file system allows those characters, they could be used in URI with "url-encoding", e.g., `#` becomes `%23`.

> As long as local file system allows those characters, they could be used in URI with "url-encoding", e.g., # becomes %23.

While technically true, I think I'd prefer for the exporter to remove these characters from texture URIs anyway... Replacing `.` with `_` and simply stripping the other characters listed would do the trick, perhaps with some collision detection.

Yep, collision detection would be very useful here. Any idea where in the code to start it?

Related problem (and a security issue):
I also have blend files (from former FBX imports), that have a image title like this:
`\\Users\\Somebody\\Desktop\\some\\folders\\texture-name`

In my case (on macOS) the addon created a texture file containing backslashes, but I assume this way it is even possible to accidentally write files to arbitrary absolute paths (on windows at least).
So we also should make sure the image titles don't contain path separators by either:

- replace them with underscores
- just take the last part of the "path"
and again take care of file name collisions

any ideas/input?

Regarding collision detection:
We could use the `export_settings` dictionary as kind of context object and add a member (a python `set`), containg all previously used file names.
Unless using `export_settings` is bad...then we'd need another context like object, that is passed around.

looks like this then:
[gltf-safe-uri.diff.txt](https://github.com/KhronosGroup/glTF-Blender-IO/files/3043236/gltf-safe-uri.diff.txt)

Behaviour:
- In case of path separators (`/`or `\`), just the last part of the path is used
- turns `.` into `_`
- removes delimiter characters ( as @donmccurdy suggested )
- In case of conflicts, it takes the trailing number part (or adds one if not present), counts it up by one and tries again until there's no conflict anymore.

Let me know what you think...I'd prepare a PR once you think it's fine.

I'd suggest two changes:

1. [use a regex](https://stackoverflow.com/a/16720705/1314762) rather than a loop
2. do a pass to replace repeated underscores (`r"_+"`) with a single underscore

otherwise a PR would be great!

<img width="2560" alt="Bildschirmfoto 2019-04-08 um 14 49 56" src="https://user-images.githubusercontent.com/44774460/55727941-65c81280-5a13-11e9-9eeb-b8a6dc25ebd9.png">

I’m not quite sure if I understood correctly, but consider the following case:

I don’t think a regex function is going to cut it in this case, since the updated name of the image attached to "base color“ will collide with the output of the image attached to metallic and roughness. 
Stuctured & named like this, the output will only result in a gltf file with correctly named texture image files, if we check for a name collision in the image dictionary with a while loop "recursively“.

With the current version, the output names will be like that:
texture #1 -> texture 1.png
texture 1 -> texture 1_.png
texture 1_ -> texture 1__.png

As for the other suggestion: If we replace consecutive underscores with only one, we’ll again run into a collision in file naming.

But again, let me know if I misunderstood.




I just realized the second diff I uploaded was the wrong (first) one...
Doing a PR righ now with all fixes as a base for further discussion

@UX3D-soares My PR does do collision handling by adding _<number> and counting it up. Feel free to have a look.
@UX3D-becher The original problem is apparently solved, but not the [path-like name problem ](https://github.com/KhronosGroup/glTF-Blender-IO/issues/405#issuecomment-479845788) nor the name collision problem. Should I make dedicated issues for those?

I think that collision handling should be considered separately from stripping unwanted characters. We can sanitize the names and then resolve the conflicts with numbering, if necessary. For something like this...

- `BaseColor (#1/2)` --> `BaseColor __1_2_`

... replacing consecutive punctuation with consecutive underscores neither gives intuitive results nor avoids conflicts. 

> texture #1 -> texture 1.png
> texture 1 -> texture 1_.png
> texture 1_ -> texture 1__.png

Use of numbers (e.g. `_001`...`00N`), as Blender does, would be preferable to appending N underscores, I think.